html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #111;

    text-rendering: optimizeLegibility;
}

.main-header {
    width: 100%;
    height: 56px;
    background-color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    color: #aaa;
    font-size: 1.2rem;
}

#logo-text{
color: white;
margin-top: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: red;
    margin-left: 20px;
}

.logo-container p {
    font-weight: bold;
    color: #222;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-content {
    display: flex;
    flex-direction: row;
    padding-top: 56px;
}

.video-column {
    margin-top: 20px;
    margin-left: 20px;

    flex: 2;
    margin-right: 20px;
}

.video-player {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    width: 100%;
}

.video-player iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.thumbnail-column {
    flex: 1.2;
    margin-top: 20px;
    margin-right: 20px;
}

.video-info-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #666;
    border-bottom: 1px solid #eee;
}

.video-info-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-title {
    font-weight: normal;
    line-height: 0.9rem;
    margin-bottom: 0px;
}

.likes-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.likes-section i {
    margin-right: 10px;
}

.likes-section p {
    font-size: 0.8rem;
    font-weight: normal;
}

.likes-section p:first-of-type {
    margin-right: 22px;
}

.view-counter {
    font-size: 1rem;
    font-weight: normal;
}

.share-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.share-section i {
    margin-right: 10px;
}

.share-section p {
    margin-right: 20px;
}

.search-tool {
    height: 30px;
    margin-left: 6%;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0;
}

#search-bar {
    height: 100%;
    border: 1px solid #ccc;
    flex-grow: 1;
    font-size: 1.1rem;
    padding: 0 5px;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

#search-button {
    height: 32px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 0.85rem;
    color: #888;
    padding: 0 22px;
    font-weight: lighter;
    background: #fafafa;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.dashboard-min {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-right: 50px;
}

.dashboard-min i {
    margin: 0 15px;
}

.profile-pic {
    border-radius: 100%;
    max-height: 60%;
    margin: 0 15px;
}

.thumbnail-box {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-bottom: 16px;
}

.thumbnail-box img {
    height: 100%;
}

.thumb-info {
    width: 50%;
    padding-left: 8px;
}

.thumb-info h5 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.thumb-info p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #666;
    line-height: 0.6rem;
}

.description-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 25%;
    border-bottom: 1px solid #eee;
}

.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.description-box img {
    margin-top: 15px;
    margin-left: 0;
    height: 48px;
}

.description-box h5 {
    margin-bottom: 0;
}

.description-box p:first-of-type {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: normal;
}

.description-box p:last-of-type {
    margin-top: 0;
    font-size: 0.9rem;
    font-weight: normal;
}

@media only screen and (max-width: 1000px) {
    .page-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .video-column {
        width: 90%;
        margin-right: 4.8%;
        margin-left: 4.8%;
    }

    .thumbnail-column {
        margin-left: 4.8%;
    }
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video .details {
  margin-left: 5px;
}

.video .details .title {
  font-size: 12px;
  font-weight: bold;
  color: #0A0A0A;
  margin-bottom: 5px;
}

.video .details .more {
  color: #606060;
  font-size: 12px;
  font-weight: 400;
}

.video .time {
  right: -110px;
  color: white;
  bottom: 20px;
  font-size: 12px;
}

.video .clock {
  top: -88px;
  color: white;
  left: 137px;
  opacity: 0;
}

.video:hover .clock {
  opacity: 1;
}
.video-player, .video .time, .video .clock, .switch, .switch input + label {
    position: relative;
}



/*** COMMENTS ***/
.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.comment .avatar {
  margin-right: 10px;
}

.comment .author {
  color: #0A0A0A;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.8rem;
}

.comment .date {
  color: #606060;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8rem;
  text-transform: none;
}

.comment .text {
  color: rgb(17, 17, 17);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
}

.comment .actions {
  font-size: 13.3333px;
  color: #909090;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/**** ADDED FOR SWITCH ***/
.switch {
  font-size: 1rem;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}
